

.App {
  text-align: center;
  margin-left: 1000px;
  
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin: 20px auto;

}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 24px;
  cursor: pointer;
  
}

.winner {
  margin: 20px;
  font-size: 24px;

}

button {
  padding: 10px 20px;
  font-size: 16px;
}